* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  main {
    max-width: 600px;
    margin: 0 auto;
  }

#loading-gif {
    height: 20px;
    margin-left: 80px;
}


  .hidden {
    display: none;
  }