* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-image: url('./fantasymapTiny.jpg');
  background-size: cover;
}

body > *:first-child { 
  margin-top: 0; 
}

body * {
  overflow: hidden;
}

#base-container {
  padding: 10px;
  max-height: 100%;
  background-color: white;
}

#pane {
  background-color: rgb(126, 106, 81);
  height: 135px;
}

#random {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 20px;
}

.boxes {
  position: relative;
}

.boxes img {
  /* object-fit: cover; */
  height: 192px;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
}

.monster-name {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 75%; 
  width: 85%;
  text-align: center;
  color: white;
  background-color: rgba(88, 88, 88, 0.637);
  padding: 2px;
  border-radius: 3px;
  font-size: 16px;
  transition: .3s;
  cursor: pointer;
}

.monster-name:hover, 
.monster-name:active {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
  font-weight: bolder;
  top: 73%;
}

.selecting {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
  font-weight: bolder;
  top: 73%;
}

.grid-container {
  padding: 15px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 2fr);
}

body {
  font-family: 'Arimo', sans-serif;
}

header {
  width: 100%;
  color: white;
  text-align:center;
}

#random {
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 32px;
  padding-left: 10px;
  padding-top: 7px;
  margin: 0px;
}

div#form{
  text-align: center;
}

form {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5px;
  padding-top: 0px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

#title-line {
  padding-top: 12px;
  padding-bottom: 8px;
}

#title-line * {
  display: inline;
  text-align: center;
  vertical-align: middle;
}

#title-line div {
  background-color: white;
  font-size: 20px;
  vertical-align: middle;
  border: solid 2px white;
  border-radius: 40px;
  padding: 8px 14px;
  color: rgb(102, 102, 102);
  font-weight: bolder;
  transition: 0.3s;
  margin-left: 5px;
}

body #title-line .flash {
  box-shadow: 0px 0px 15px rgb(253, 255, 110);
  background-color: black;
  color: white;
}

#question:hover {
  background-color: rgb(112, 42, 42);
  color: white;
  cursor: pointer;
}

#question:active {
  background-color: black;
}

#pane-note {
  margin: 5px;
  margin-top: 2px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
margin: 0; 
}

#challenge-rating{
  font-family: 'Arimo', sans-serif;
  width: 50px;
  height: 47px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

#generate {
  background-color: rgb(75, 75, 75);
  border: 1.5px solid rgb(158, 158, 158);
  color: white;
  font-weight: bold;
  padding: 15px 40px 13px;
  text-align: center;
  font-size: 15px;
  transition: 0.3s;
  margin-bottom: 4px;
  cursor: pointer;
}

#generate:hover {
  border: 1.5px solid rgb(75, 75, 75);
  font-weight: bold;
  background-color: white;
  color: rgb(75,75,75);
}

#generate:active {
  background-color: rgb(75, 75, 75);
  color: white;
}

footer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  overflow: hidden;
}

footer a {
  color: black;
}

.hidden {
  display: none;
}

h3 {
  text-decoration: underline;
  font-size: 20px;
  padding-left: 8px;
}

h4 {
  margin-bottom: -16px;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.boxes img:hover {
  cursor: pointer;
}

#title {
  display: none;
}

#loading-gif {
  border: 9px solid rgb(126, 106, 81);
  border-radius: 50%;
  border-top: 9px solid #ffffff;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear inblackfinite;
  margin-bottom: 12px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.swal-text {
  padding: 0 20px;
}

.swal-title {
  text-decoration: underline;
}

/* RESPONSIVE SMALL SCREEN BELOW */
@media all and (max-width: 740px) {

  #loading-gif {
    margin-top: 0px; 
  }

  .grid-container {
    grid-template-columns: repeat(2, 3fr);
  }

  #challenge-rating {
    height: 47px;
  }

  .boxes img {
    height: 165px;
  }

  #generate {
    padding: 15px 40px 13px;
  }

  h1 {
    font-size: 22px;
    margin: 0 auto;
    width: 400px;
    padding: 0px;
    padding-top: 7px;
    padding-left: 10px;
  }
  
  li {
    font-size: 12px;
  }

  .boxes ul {
    padding-left: 0px;
  }

  footer {
    font-size: 12px;
  }

  #box2, #box4, #box6 {
    overflow: hidden;
  }

  #title-line{
    overflow: visible;
  }

  #title-line div {
    font-size: 16px;
    padding: 5px 8px;
  }
}

#title {
  display: unset;
}

#full-title {
    display: none;
}

#pane-note {
  margin-top: 4px;

}

@media all and (max-width: 450px) {

  body,html {
    overflow: hidden;
  }

  h1 {
    font-size: 20px;
  }

  .boxes img {
    height: 135px;
  }

  .monster-name {
    width: 100%;
    bottom: 2%;
    top: unset;
  }

  #random {
    width: 100%;
  }
}