* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-image: url('https://i.redd.it/jadgq6zuyozy.jpg');
  background-size: cover;
}

body > *:first-child { 
  margin-top: 0; 
}

body * {
  overflow: hidden;
}

#base-container {
  padding: 10px;
  max-height: 100%;
  background-color: white;
}

#pane {
  background-image: linear-gradient(to bottom right, gray, rgb(46, 46, 46));
}

#random {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 20px;
}

.boxes img {
  object-fit: cover;
  height: 192px;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
}

.grid-container {
  padding: 15px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 2fr);
}

body {
  font-family: 'Arimo', sans-serif;
}

header {
  width: 100%;
  color: white;
}

#random {
  margin: 0 auto;
}

h1 {
  font-size: 35px;
  padding-left: 10px;
  padding-top: 7px;
  margin: 0px;
}

header p{
  font-size: 15px;
  padding: 0px 10px;
  margin: 0px 0px 15px 10px;  
}

div#form{
  text-align: center;
}

form {
  display: inline-block;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

#loading-gif {
  margin-top: 15px;
  height: 25px;
  text-align: center;
  margin-bottom: 8px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
margin: 0; 
}

#challenge-rating{
  width: 50px;
  height: 47px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

#generate {
  background-color: rgb(75, 75, 75);
  border: 1.5px solid rgb(158, 158, 158);
  color: white;
  font-weight: bold;
  padding: 15px 5px 13px;
  text-align: center;
  font-size: 15px;
  transition: 0.3s;
  margin-bottom: 4px;
}

#generate:hover {
  border: 1.5px solid rgb(75, 75, 75);
  font-weight: bold;
  background-color: white;
  color: rgb(75,75,75);
}


footer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  overflow: hidden;
}

.hidden {
  display: none;
}

#short-description {
  margin: 0 auto;
  width: 340px;
  margin-bottom: 10px;
}

h3 {
  text-decoration: underline;
  font-size: 20px;
  padding-left: 8px;
}

h4 {
  margin-bottom: -16px;
  text-decoration: underline;
}

form p {
  font-size: 11px;
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
}

.boxes img:hover {
  cursor: pointer;
}

/* BIG SCREEN BELOW */
@media screen and (min-width: 641px) {
  #short-description {
    display:none;
  }

}

/* RESPONSIVE SMALL SCREEN BELOW */
@media screen and (max-width: 640px) {
  #description{
    display: none;
  }

  #loading-gif {
    margin-top: 0px; 
  }

  .grid-container {
    grid-template-columns: repeat(2, 3fr);
  }

  #challenge-rating {
    height: 31px;
  }

  .boxes img {
    height: 165px;
  }

  #generate {
    padding: 7px 5px 5px;
  }

  h1 {
    font-size: 19px;
    margin: 0 auto;
    width: 400px;
    padding: 0px;
    padding-top: 7px;
    padding-left: 10px;
  }

  #description {
    margin-right: 10px;
  }
  
  li {
    font-size: 12px;
  }

  .boxes ul {
    padding-left: 0px;
  }

  footer {
    font-size: 12px;
  }

  #box2, #box4, #box6 {
    overflow: hidden;
  }
}

@media screen and (max-width: 405px) {
  h1 {
    font-size: 17px;
  }

  .boxes img {
    height: 135px;
  }

  #random {
    width: 100%;
  }
}
